body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 24;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    border-color: #000000;
    background-image: url("");
    background-position: top center;
    background-repeat: no-repeat;

}

.button {


}

.button:hover,
.button:focus,
.button:active {


}

a {

}

.main-navigation {
}


.site-navigation,
.user-navigation {

}

.site-navigation a,
.user-navigation a {

}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
}

.features-list {
}

.feature-item {
}

.feature-item h3 {
}



.index-columns {

}

.index-columns h2 {

}

.news-list {

}

.news-item time {

}

.gallery-content {

}

.appointment-item input {

}

.appointment-item input:focus{

}

.main-footer {

}

.footer-contacts a {

}

.footer-contacts a:hover,
.footer-contacts a:focus {

}

.footer-social {

}

.footer-social ul{


}

.social-button {


}

.footer-copyright {


}

.footer-copyright .button:hover,
.footer-copyright .button:focus {

}

.modal {
}

.modal h2 {

}

.login-form input[type="text"],
.login-form input[type="password"] {


}


























