body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #111;
    background-image: url("../img/index-backgound.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.button {
    font: inherit;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.inner-page {
    color: #000000;
    background-color: #f9f6f3;
    background-image: url("");
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 75px;
    min-height: 285px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 285px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: transparent;
}

.main-navigation-wrapper {
    width: 100%;
    height: 60px;
    margin-bottom: 60px;
    background-color: #000000;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.main-header-logo {
    order: 2;
    width: 386px;
    height: 153px;
}

.site-navigation {
    display:flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 20px;
    padding: 0;

    min-height: 70px;
    list-style: none;
}

.user-navigation {
    width: 140px;
    margin-top: 20px;
    padding: 0;
    margin-left: 80px;

    list-style: none;
    min-height: 70p;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;

    padding: 20px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background: #242424;
}

.features {
    margin-bottom: 80px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 170px;
}

.feature-item {
    width: 300px;
    min-height: 170px;
    text-align: center;
}

.feature-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 50px 80px;
    color: #000000;
    background-color: #f8f5f2;
    background-image: url("");
    background-position: 0 0;
    background-repeat: repeat;
}

.index-columns h2 {}

.news {
    width: 300px;
    min-height: 315px;
}

.news-list {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery {
    width: 300px;
    min-height: 315px;
}

.gallery-content {}

.contacts {
    width: 380px;
    min-height: 315px;
}
.appointment {
    width: 380px;
    min-height: 315px;

}


.appointment-item input {
    background-color: #cccccc;
    border: 1px solid #ffffff;
}

.appointment-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    background-color: #663d15;
}

}
.main-footer {
    padding: 60px 0;
    margin-top: 65px;

    color: #ffffff;
    background-color: #cccccc;
    background-image: url("");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer .container {
     display: flex;
}
.footer-contacts{
    width: 320px;
    margin: 0;

    margin-right: 80px;

}
.footer-contacts a {
    color: inherit;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: inherit;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    background-color: #fff;
}

.modal {}

.modal h2 {
    color: #111;
    background-color: #f9f6f3;
    background-image: url("");
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {}

.ggggg {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    border-color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

.visually-hidden {
    display: none;
    visibility: hidden;

}








